* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    font-family: 'Futura Display', sans-serif;
    height: 100vh;
    letter-spacing: 1px;
}