@import url('../base/color.css');

.btn-search{
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    font-family: 'Futura Display', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px;
}
.btn-search:hover{
    border: 2px solid var(--color-amarelo);
    transition: 0.5s;
    color: var(--color-amarelo);
    background-color: var(--color-azul-);
    border-radius: 4px;
}
/* cadastro */

.btn-cadastro{
    margin-top: 5px;
    border: 2px solid var(--color-preto-suave);
    border-radius: 4px;
    outline: none;
    padding: 5px;
    font-size: 15px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
}
.btn-cadastro:hover{
    transition: 0.5s;
    color: var(--color-amarelo);
    background-color: var(--color-azul-);
    border: 2px solid var(--color-amarelo);
}
/* editar item */
.editar-item{
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
}
.editar-item:hover{
    border: 2px solid var(--color-azul-);
    color: white;
    background: var(--color-azul-);
}
.excluir-item{
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
}
.excluir-item:hover{
    border: 2px solid red;
    color: white;
    background: red;
}

.btn-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}