@import url('../base/color.css');
@import url('../base/typography.css');


.form_register_film{
    width: 400px;
    height: auto;
    padding: 10px;
    border: 2px solid var(--color-preto-suave);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* input text */
input{
    outline: none;
    border: none;
    background: var(--color-branco) ;
    padding: 4px;
    border-radius: 4px;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 1px;
    border: 1px solid var(--color-preto-suave);
}

textarea{
    font-family: 'Futura Display', sans-serif;
}